{% extends "base.html" %}
{% block content %}

  <div class="main-container">
    <h1 class="title">greek alphabet quiz</h1>
    <div>
      <div class="box">
        <a class="button is-info" href="/practice">practice</a>
        <p>Practice writing the alphabet</p>
      </div>

      <div class="box">
        <a class="button is-info" href="/practice_guessing">guessing</a>
        <p>Practice guessing the greek alphabet</p>
      </div>

      <div class="box">
        <a class="button is-info" href="/add-data">add data</a>
        <p>Improve the model by adding data</p>
      </div>
    </div>
  </div>

{% endblock %}