{% extends "base.html" %}
{% block content %}

  <div class="main-container">
    <div>
      <a href="/" class="button is-text">&lt; return to main menu</a>
    </div>
    <h1 class="title">practice guessing</h1>
    <div>
      <canvas id="canvas" width="200" height="200"></canvas>
    </div>
    <div style="padding: 1rem;">
        <form>
            <p style="margin-top: 0.5rem;">What letter is this?</p>
            <input name="u">
            <input type="submit">
        </form>
    </div>
    <div>
      <form id="practice-form" action="practice" method="POST">
        <input id="pixels" name="pixels" type="hidden" />
        <input id="letter" name="letter" type="hidden" value="{{letter}}" />
        <button type="button" class="button is-success" onclick="practiceAction()">check my answer</button>
      </form>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      startCanvas()
    })
  </script>

{% endblock %}